@charset "UTF-8";

/* about */
.about {
    position: relative;
    width: 100%;
}

.about-section {
    position: relative;
    display: flex;
    background-color: var(--about-section-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 25px;
    Word-break: break-all;    
}

.about-section-wrapper {
    display: flex;
    color: var(--main-font-color);
    font-size: var(--sp-main-font-size);
}

.about-section-icon {
    margin-right: 10px;
}

.name-txt {
    margin-top: 10px;
}

.carrer-wrapper {
    display: flex;
}
